body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(98, 96, 96);
  margin-top: 10%;
}
.modal{
    background-color: rgb(255, 255, 255);
    /* border: 4px solid blue; */
    width: 700px;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, 2);

    /* align-content: center; */
    /* align-items: center; */
    gap: 20px;
}

.icon{
    margin-top: 40px;
    color: royalblue;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    border-radius: 50%;
    background-color:rgba(65, 105, 225, 0.295);
    width: 180px;
    height: 45px;
    margin-inline-start: 20px;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: 15px;
}
.header .x {
    display: flex;
    margin-inline-end:30px ;
    background-color: rgba(128, 128, 128, 0.358);
    height: 20px;
    width: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    justify-content: center;
    color: gray;
    border-radius: 50%;
    font-weight: bold;
}
.header >h1{
    font-weight: bold;
    font-size: 30px;
}
.text{
    font-weight: 500;
    font-size:20px ;
    margin-inline-end: 15px;
}
#continue{
    background-color:royalblue;
    color: beige;
    font-size: 15px;
    padding: 10px 16px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-weight: bold;
}
#cancel{
    background-color: beige;
    color: royalblue;
    font-size: 15px;
    padding: 10px 16px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-weight: bold;
}