/* .first{ */
    background-color: red;
    font-size: 32px;
    color: white;
    text-align: center;}
/* .avatar.proportioned{ */
    width: 300px;
    height: auto;}
/* .avatar.distorted{ */
    width: 200px;
    height: 400px;}   
/* .original{ */
    width: 400px;}
/* .para{ */
    font-weight: bolder;
    font-size: 32px;}
/* .para.small-para{ */
    font-weight: bolder;
    font-size: 20px;}
/* .button#confirm-button{ */
    background-color: green;
    color: wheat;
    text-align: center;
    font-weight: bolder;
    padding: 5px;
    font-size: 20px;}
/* .button#cancel-button{ */
    background-color: wheat; 
    padding: 5px;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    color: green;
    margin-left: 5%;}

/* .text{ */
    font-size: 32px;}
/* .text.child{ */
    font-size: 20px;
    font-weight: bolder;}
/* .one{ */
    background-color: pink;
    margin-left: 150px;
    margin-bottom: 12px ;
    margin-top: 12px;
    margin: inline end 10px;;
    font-size: 20px;
    padding: 32px ;
    border: 3px solid blue;}
/* .two{ */
    background-color:skyblue;
    margin-left: 120px;
    margin-bottom: 48px;
    border: 3px solid purple;}
/* .three{ */
    background-color:wheat;
   margin-left: auto;
   width: 200px;
   padding: 32px;
   border: 3px solid rgb(203, 6, 237);}
/* .card{ */
    width: 400px;}


/* .card #intro{ */
    background-color: aquamarine;
    margin: 8px;
    padding: 8px;
    font-size: 16px;}
/* .content{ */
    background-color: aquamarine;
    margin: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;}
/* .parent{ */
    padding: 8px;
    background-color: aquamarine;
   
    text-align: center;
    margin: 8px;}
/* #big{ 
    padding-top:8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 24px ;
    display: block;
    margin: auto;}*/


flex: 2 1 0%;}*/
